@page
@model IndexModel
@{
    Layout = "_Layout";
}

<div class="login-container">
    <h1 class="mb-2">Logowanie</h1>
    <form id="login-form">
        <label for="username">Login użytkownika:</label>
        <input type="text" id="username" name="username">
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password">
        <button id="login-btn" form="login-form" type="submit" class="mt-2 btn btn-primary">Zaloguj</button>
    </form>
</div>
give me back my pierogi kurwa